* {
	overflow:-Scroll;
	overflow-x:hidden;
}
.first {
	background: url("../img/background.jpg") center center fixed no-repeat;
	-moz-background:cover;
	-webkit-background:cover;
	-o-background:cover;
	background-size: cover;
}
.navbar-brand{
	color: #ffffff;
	padding-left: 50px;
}
.navbar-brand:hover,.navbar-brand:focus{
	color: #ffffff;
	background-color: transparent;
}
.navbar-nav > li > a:hover,.nav > li > a:focus{
	background-color: transparent;
	border-bottom: 2px solid #ffffff;
}
.container{
	padding-top: 200px;
	padding-bottom: 315px;
	color: #ffffff;
}
.container h1,h2{
	overflow:-Scroll;overflow-y:hidden;
}
#contactus {
	text-decoration:none;
	padding:15px 30px;
	color: #ffffff;
	background-color: #428bca;
}
#foot{
	background-color: #444444;
	color: #ffffff;
}
@media (min-width: 768px){
	.container{
	padding-top: 200px;
	padding-bottom: 315px;
	}
}
