<section id="foot">
    <div class="row clearfix">
        <div class="col-md-12 column text-center">
            <h2 class="text-center">联系我们</h2>
            <p class="lead text-center">河北省石家庄市裕华区槐中路116号华脉新村4座1102室</p>
            <p class="lead  ">联系电话：……</p>
            <p>
                © 2016 河北比众
                &nbsp;·&nbsp; <a href="/terms-of-service" style="color: white;" target="_blank">加入我们</a>
                &nbsp;·&nbsp; <a href="/privacy-policy" style="color: white;" target="_blank">这儿写备案号</a>
            </p>
            <p><a href="mailto:写谁的邮箱" style="color: white;">业务合作：联系邮箱（后期）</a></p>
        </div>
	</div>
</section>