<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link href="static/css/global.css" rel="stylesheet" type="text/css">
    <link href="static/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="static/css/animate.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="static/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/animate.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <!--[endif]-->
  </head>
<body data-spy="scroll">
    {% include "header.html" %} 
    {% include "background.html" %}
    {% include "footer.html" %}
    </script>
</body>
</html>
