<main class="product-service">

<div class="container">

	<aside class="scrollspy">
	    <ul class="nav navbar-aside-home" data-spy="affix">
	        <li><a href="#anchor-1">{{title}}</a></li>
	        <li class="active">
	            <a href="#anchor-2">资产管理<i class="icons-xs icons-arrow-right"></i></a>
	            <ul class="nav">
	                <li><a href="#anchor-3">资产识别</a></li>
	                <li><a href="#anchor-4">趋势分析</a></li>
	            </ul>
	        </li>
	        <li>
	            <a href="#anchor-5">风险检测<i class="icons-xs icons-arrow-right"></i></a>
	            <ul class="nav">
	                <li><a href="#anchor-6">深度漏洞检测</a></li>
	                <li><a href="#anchor-7">配置风险检测</a></li>
	                <li><a href="#anchor-8">内容风险检测</a></li>
	                <li><a href="#anchor-9">数据泄漏检测</a></li>
	                <li><a href="#anchor-10">应用风险检测</a></li>
	                <li><a href="#anchor-11">资产泄漏检测</a></li>
	            </ul>
	        </li>
	        <li>
	            <a href="#anchor-12">风险管理<i class="icons-xs icons-arrow-right"></i></a>
	            <ul class="nav">
	                <li><a href="#anchor-13">风险检索</a></li>
	                <li><a href="#anchor-14">风险审计</a></li>
	                <li><a href="#anchor-15">在线验证</a></li>
	                <li><a href="#anchor-16">风险预警</a></li>
	                <li><a href="#anchor-17">专家分析</a></li>
	                <li><a href="#anchor-18">风险报表</a></li>
	            </ul>
	        </li>
	        <li>
	            <a href="#anchor-19">专家服务<i class="icons-xs icons-arrow-right"></i></a>
	            <ul class="nav">
	                <li><a href="#anchor-20">人工报表校验</a></li>
	                <li><a href="#anchor-21">在线工单服务</a></li>
	                <li><a href="#anchor-22">专家风险演示</a></li>
	            </ul>
	        </li>
	    </ul>
	</aside>
	<section class="section">
	    <article id="anchor-1" class="product-info">
	        <h3>关于 {{title}}</h3>
	        <p>公司介绍</p>
	    </article>

	    <article class="product-info">
	        <h4>企业的安全风险管理中心</h4>
	        <ul class="row risk-manage-center">
	            <li class="col-xs-3"><figure>
	                <p><i class="risk-icons risk-icons-1"></i></p>
	                <figcaption><strong>资产管理</strong>安全保护的核心对象是企业资产</figcaption>
	            </figure></li>
	            <li class="col-xs-3"><figure>
	                <p><i class="risk-icons risk-icons-2"></i></p>
	                <figcaption><strong>风险检测</strong>企业安全的核心能力是问题发现</figcaption>
	            </figure></li>
	            <li class="col-xs-3"><figure>
	                <p><i class="risk-icons risk-icons-4"></i></p>
	                <figcaption><strong>风险管理</strong>风险管理指导企业做好安全建设</figcaption>
	            </figure></li>
	            <li class="col-xs-3"><figure>
	                <p><i class="risk-icons risk-icons-3"></i></p>
	                <figcaption><strong>专家服务</strong>专家在线解析报表和风险演示等</figcaption>
	            </figure></li>
	        </ul>
	    </article>

	    <article id="anchor-2" class="product-info">
	        <h3>资产管理</h3>
	        <p>安全保护的核心对象是企业资产</p>
	    </article>

	    <article id="anchor-3" class="product-info">
	        <h4>资产识别</h4>
	        <p>TangScan 通过资产发现模块发现企业的基础资产包括域名及 IP 信息；再进一步为了能够为企业提供精确的资产信息，TangScan 会对所发现的域名及 IP 进行深度的指纹识别，包括对应的网站，服务，应用信息。</p>
	        <p>关于指纹识别，TangScan 通过收集企业常见的服务几百种服务如：mysql, ssh, redis 等及几百种应用如 discuz, wordpress 等样本特征来对企业的基础资产信息做精确的指纹识别，帮助企业更加全面的梳理存在的服务及应用信息，而同时利用这些指纹信息，TangScan 可以为企业进行更加精准的进行风险检测和预警推送。</p>
	    </article>

	    <article id="anchor-4" class="product-info">
	        <h4>趋势分析</h4>
	        <p>TangScan 每周都会产出企业的资产分析报告，里面包含企业当前的资产信息，包括域名信息，IP 信息，网站信息，服务信息，应用信息等。通过对每周资产数据的统计分析及对比相应的企业漏洞数据，能够帮助企业对自己的资产及漏洞风险有一个非常直观的了解，为企业在安全建设的决策上提供帮助。</p>
	    </article>

	    <article id="anchor-5" class="product-info">
	        <h3>风险检测</h3>
	        <p>企业安全的核心能力是问题发现</p>
	    </article>

	    <article id="anchor-6" class="product-info">
	        <h4>深度漏洞检测</h4>
	        <p>TangScan 为企业提供深度的漏洞检测服务，覆盖所有常见的安全漏洞类型。包括第三方应用的通用漏洞以及常见的 web 漏洞，系统服务漏洞等。</p>
	        <p>其中覆盖的非第三方应用漏洞类型包括命令执行、代码执行、文件包含、文件读取、sql 注入、解析漏洞、CRLF、SSRF、URL 跳转、XSS 漏洞、表达式注入、文件上传、列目录、XXE、json 劫持、网站弱口令、敏感信息泄露、后门检测、备份文件泄露等等；</p>
	        <p>第三方应用漏洞包括 wordpress, discuz, dedecms 等 200 多种应用 ( <a href="app.htm" tppabs="http://www.tangscan.com/app">http://www.tangscan.com/app</a> ) 将近 1000 种的漏洞 ( <a href="plugin.htm" tppabs="http://www.tangscan.com/plugin">http://www.tangscan.com/plugin</a> ) ，这些漏洞都是由乌云漏洞平台及社区的白帽子贡献的，而且是在不断的提升。实时跟进覆盖最新的漏洞风险。</p>
	        <p>每一个漏洞检测结果都包含漏洞的详细描述，测试用例，修复方案，以及在线验证等信息及功能。用户可以通过查看报告对检测结果一目了然，同时可利用漏洞在线验证模块对漏洞进行修复后的回归测试等等。如果用户对于漏洞存在疑问，我们会有专门的安全专家在线为企业提供支持。</p>
	    </article>

	    <article id="anchor-7" class="product-info">
	        <h4>配置风险检测</h4>
	        <p>TangScan 为企业提供基础应用及系统、服务的配置风险检测，覆盖所有常见的安全配置风险类型，包括 webserver 配置检查，跨域配置风险，ssh 等服务配置不当等等。</p>
	        <p>其中覆盖的包括 ssh, mysql, redis 等主流及不主流的服务的配置风险，常见的 webserver 配置问题，如配置文件泄露，系统敏感文档读取，配置不当导致信息泄露等等，包括一些应用的配置不当的问题，如 django 配置不当，thinkphp 配置不当等等。</p>
	        <p>这些配置的风险都会导致系统不同程度的信息泄露，如果处理不当可被黑客配合其他风险对服务进行攻击，导致数据泄露。</p>
	    </article>

	    <article id="anchor-8" class="product-info">
	        <h4>内容风险检测</h4>
	        <p>TangScan 为企业提供网站内容风险检测，内容风险主要覆盖三大块，包括网页敏感信息监测，网页挂马检测，网页黑链检测。</p>
	        <p>在这三大常见的内容风险中我们的恶意内容数据是和百度搜索引擎的检测数据对接的，能够帮助企业尽早的知晓自己企业存在的一些恶意风险，尽早修复避免被搜索引擎标记为恶意网站。</p>
	    </article>

	    <article id="anchor-9" class="product-info">
	        <h4>数据泄漏检测</h4>
	        <p>我们都知道互联多次曝出过数据库泄露事件，其中轰动一时的 csdn 明文账号密码泄露就是一个典型的 case；TangScan 会从这些外面已经泄露的数据库中帮企业发现和企业业务相关的数据泄露的信息，里面包括企业邮箱账号密码相关数据。企业可以第一时间知晓自己的员工或者用户是否存在信息泄露事件。</p>
	        <p>这些数据来自第三方合作伙伴提供的数据库，几乎涵盖了所有已泄露的数据，我们建议客户一旦发现自己员工的账号密码泄露后需要尽快联系账号属主相关人员对账号密码进行修复，并不要使用类似的密码配置。同时最好修改使用该密码的其他网站账号密码。避免遭受撞库攻击。</p>
	    </article>

	    <article id="anchor-10" class="product-info">
	        <h4>应用风险检测</h4>
	        <p>从乌云漏洞报告平台的通用漏洞奖励计划中我们可以看出第三方应用程序的通用漏洞是企业业务发展过程中持续遭遇的一个威胁，因为企业发展的需要，往往研发人力都会关注在企业的核心业务上，然后一些辅助的论坛，社区，博客，协作系统业务往往会使用第三的开源应用系统进行部署，这就导致企业的安全往往受到这些应用本身的安全威胁。而 TangScan 应用风险检测将会为企业进行应用智能指纹识别业务是否使用了第三方开源程序，及这些第三方开源程序的安全评级如何，并通过报表的形式提示企业目前正在使用的高风险第三方应用。使得企业能够提前采取措施规避一些高危的应用的部署。避免遭受高危第三方应用的漏洞影响。</p>
	        <p>关于应用智能指纹识别技术，TangScan 拥有一个强大的应用指纹库，包含 200 多种应用 ( <a href="app.htm" tppabs="http://www.tangscan.com/app">http://www.tangscan.com/app</a> ) 指纹，其中这些指纹还在不断的增加，利用这些指纹特征，TangScan 会对企业的每一个 IP / 域名 进行精确的指纹识别，确定这个资产是否使用了第三方应用及使用了什么第三方应用。</p>
	        <p>当然企业甚至可以提交自己企业独有的应用指纹，我们同样可以帮助企业进行智能识别并关注该应用的漏洞情况。</p>
	    </article>

	    <article id="anchor-11" class="product-info">
	        <h4>资产泄漏检测</h4>
	        <p>2015 年 3 月 9 日京东大面积服务瘫痪造成重大影响，导致购物车打不开了，无法退换货。同样的事件还发生在新浪云服务上，新浪云服务域名 sae 同样存在过期未及时续费导致服务被中断的情况。由此看来域名过期是企业域名资产的一大重要风险，为此 TangScan 非常贴心为企业提供了域名过期的资产风险提醒服务，在每次的例行巡检中会帮助企业判断自己的域名是否过期。</p>
	    </article>

	    <article id="anchor-12" class="product-info">
	        <h3>风险管理</h3>
	        <p>风险管理指导企业做好安全建设</p>
	    </article>

	    <article id="anchor-13" class="product-info">
	        <h4>风险检索</h4>
	        <p>风险检索功能帮助企业可以在线检索历史的风险数据，企业可以根据风险类型，级别等关键字进行检索，同时支持对检索结果进行导出，方便进行风险管理。</p>
	    </article>

	    <article id="anchor-14" class="product-info">
	        <h4>风险审计</h4>
	        <p>通过风险检索功能，企业管理员可以随时在线查看历史风险的修复情况，以及可以清晰的看到风险修复时长及风险是否多次重复出现。这些信息都会在风险检索的结果中标记出来。企业管理员可以在线通过简单的操作对历史风险进行审计。</p>
	    </article>

	    <article id="anchor-15" class="product-info">
	        <h4>在线验证</h4>
	        <p>为了能够帮助客户能实时了解每个风险的修复情况，我们在每个漏洞的报告里面内置了一个一键验证风险是否存在的按钮。这样客户在查看漏洞报告时可以动态查看漏洞是否存在，然后进行修复，修复以后还可以方便的一键在线验证复查，这样大大方便了客户验证漏洞的操作。</p>
	    </article>

	    <article id="anchor-16" class="product-info">
	        <h4>风险预警</h4>
	        <p>12 年以及 13 年的 struts2 命令执行漏洞几乎席卷全球互联网，国内 BAT 均中枪，当时导致国内各大互联网公司的系统均被攻击；同样 14 年爆出的互联网心脏滴血漏洞也给整个互联网带来很大的冲击，淘宝等电商网站都收到了影响，可见在一些突发性的互联网安全风险出现时，企业能够第一时间得到预警是多么的重要。</p>
	        <p>不管是 struts2 还是心脏滴血漏洞，其实乌云白帽子都在当时第一时间在社区曝光了该风险，而 TangScan 依托于乌云这样一个社区，有能力第一时间对全球的高危风险事件进行预警。除了全球性的安全事件以外，TangScan 同样会对我们实时检测到的高危风险对企业推送预警，预警方式包括邮件，短信等等方式。</p>
	    </article>

	    <article id="anchor-17" class="product-info">
	        <h4>专家分析</h4>
	        <p>TangScan 会对企业的每份检测报表进行一个全面的数据分析，然后根据数据分析结果给企业一个安全建设和防御的建议。</p>
	    </article>

	    <article id="anchor-18" class="product-info">
	        <h4>风险报表</h4>
	        <p>TangScan 默认每周会为企业启动一次全面的风险检查，然后每周任务结束后会自动给企业发送一个详细的风险报表，这个风险报表是经过人工确认的，所以我们能够保证风险报表的 100% 准确性。同时风险报表中会展示所有检测到的风险细节以及修复方案。</p>
	    </article>

	    <article id="anchor-19" class="product-info">
	        <h3>专家服务</h3>
	        <p>专家在线解析报表和风险演示等</p>
	    </article>

	    <article id="anchor-20" class="product-info">
	        <h4>人工报表校验</h4>
	        <p>我们知道长期以来风险检测工具的误报情况是困恼企业安全风险检测的一大难题，企业需要花大量的人力和专业人才的投入来对工具产出的风险报告进行人工审核，这会给企业的安全运维工作带来不小的难度，而唐朝安全巡航在提升风险报告的准确率方面做了大量的工作，同时还引入了人工对企业的每一份报告进行了人工的审核。确保产出给企业的风险报告 100% 的准确率。</p>
	    </article>

	    <article id="anchor-21" class="product-info">
	        <h4>在线工单服务</h4>
	        <p>客户在使用 TangScan 的过程中有任何的疑问都可以通过在线提交工单的形式将问题提交给 TangScan 的安全专家，安全专家收到工单后会实时为客户提供在线答疑。</p>
	    </article>

	    <article id="anchor-22" class="product-info">
	        <h4>专家风险演示</h4>
	        <p>安全对于普通的研发技术人员来说是一个比较陌生的技术，所以通常研发技术人员在遇到一些安全风险报告时不免有些不知所措，不知道安全风险的严重性和可能导致的影响，这将导致技术人员可能无法及时有效的修复风险，为了解决这个问题，TangScan 的安全专家们会在线为企业提供一些必要的安全风险演示，帮助企业技术人员及时了解风险的详细影响。</p>
	    </article>
	</section>

</div>

</main>